.myDropdownMenu {
  max-height: 200px;
  overflow-y: auto;
  background-color: #000000;
}

.dropdownToggle {
  color: white;
}

.myDropdownMenu li a {
  color: white;
}

.myDropdownMenu li a:hover {
  background: #000000;
  color: red;
}
