@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  background-color: rgb(85, 85, 85);
  font-family: "bebas neue", Arial, sans-serif;
  color: white;
}

h1 {
  font-size: 50px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #000;
  border-radius: 10px;
}

::-webkit-scrollbar-button {
  display: none;
}
